@font-face {
    font-family: 'OPTIEngraversOldEnglish';
    src: url('OPTIEngraversOldEnglish.woff2') format('https://rawcdn.githack.com/CreeperTriste/Hosting_fonts/ca3a6b9ea4ea29a4304b51c20f450cacb0837704/OPTIEngraversOldEnglish.woff2'),
        url('OPTIEngraversOldEnglish.woff') format('https://rawcdn.githack.com/CreeperTriste/Hosting_fonts/ca3a6b9ea4ea29a4304b51c20f450cacb0837704/OPTIEngraversOldEnglish.woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

